.search {
  /*-webkit-appearance: none;*/
  border-radius: 1vh;
  border: none;
  outline: none;
  padding: 5px;
  width: 50%;
  line-height: 30px;
  margin-bottom: 30px;
  transition: all 0.5s;
}

.search:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
}
