.country {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #141e30; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.country:hover {
  transform: scale(1.08);
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
}
.country > img {
  width: 33%;
  height: auto;
}
.country > h2 {
  margin: 5px 0;
}
.describe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  width: 95%;
  text-align: center;
  margin: 10%;
}
